/* 레이아웃 */
.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}

/* header */
.app-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border: 1px solid rgba(128, 128, 128, 0.293);
  padding: 5px 20px;
}

/* form */
.form {
  background-color: rgba(231, 230, 230, 0.512);
  border-radius: 20px;
  /* justify-content: space-between; */
  display: flex;
  align-items: center;
  padding: 30px 20px 30px 20px;
}
